.player-form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__label {
    display: flex;
    white-space: nowrap;
    font-weight: 600;
  }

  &__input {
    width: 100%;
    margin-left: 10px;
    box-sizing: border-box;
    padding: 10;
  }

  &__button {
    font-weight: 700;
    margin: 10px 0;
    padding: 10px 15px;
    background-color: #80bd82;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  &__error {
    font-size: 18px;
    color: rgb(223, 55, 55);
    font-weight: 700;
    text-align: center;
  }
}
.player-number {
  &__form {
    display: flex;
    gap: 2rem;
    padding: 10px;
  }

  &__title {
    margin: 0;
    text-align: center;
  }

  &__button {
    background-color: transparent;
    text-align: center;
    border-radius: 10px;
    width: 80%;
    cursor: pointer;

    &--selected {
      @extend .player-number__button;
      background-color: #42ad4b;
      color: white;
    }
  }
}
